name: publish
on:
  release:
    types:
      - released
      - prereleased

concurrency:
  group: release
  cancel-in-progress: false

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
            java-version: '21'
            distribution: 'adopt'
            architecture: x64
      - name: Run tests
        run: ./gradlew test
      - name: Publish to GitHub package registry
        run: ./gradlew publish -PversionId=${{ github.event.release.tag_name }}
        env:
          GPR_USER: ${{ secrets.GPR_USER }}
          GPR_TOKEN: ${{ secrets.GPR_TOKEN }}
